/* .project_heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.coronavirus_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */

 .image_header {
    position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
    backface-visibility: hidden;
  
} 

.image_header_2 {
    position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
    backface-visibility: hidden;
} 

.container {
    position: relative;
    left: 0; 
    top: 500px
    
  }
  
  .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
  }
  
  .container:hover .image_header {
    opacity: 0.3;
  }

  .container:hover .image_header_2 {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 50;
  }
  
  .text {
    background-color: #FF0000;
    color: white;
    font-size: 100px;
    padding: 100px 200px;
  }

/* .middle_finger{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
} */

/* .middle_finger:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  } */

  /* .flex-container {
    /* We first create a flex layout context */
    /* display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    /* flex-flow: row wrap; */ 
    
    /* Then we define how is distributed the remaining space */
    /* justify-content: space-around; */
    
    /* padding: 0;
    margin-top: -150px;
    list-style: none;
  } */
  
  /* .flex-item:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  } */ 

  /* .flex-item{
    margin-top: 10px
    width: 250px;
    height: 250px;
  } */